%form{ method: :post }
  %input{ type: :text, name: :url, placeholder: "URL to scrape" }
  %button{ type: :submit } Queue!

%br
%table
  %thead
    %tr
      %th
      %th ID
      %th Title
      %th Url
      %th Created At
      %th Updated At

  %tbody
    - @webpages.each do |webpage|
      %tr
        %td
          %form{ method: :post }
            %input{ type: :hidden, name: :url, value: webpage.url }
            %button{ type: :submit } Requeue!

        %td= webpage.id
        %td= webpage.title

        %td
          %a{ href: webpage.url }= webpage.url

        %td= webpage.created_at.iso8601 6
        %td= webpage.updated_at.iso8601 6 if webpage.updated_at
